body {
  font-weight: 300;
}

header {
  padding: 20px 0;
  color : red;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

footer .row {
  position: fixed;
  bottom: 0;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}


.col-md-6 {
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}


footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: auto;
}

a {
  color: red;
}


#main_thing {
  padding: 20px 0;
}

#logo {
  display: inline;
  width:15%;
}
