{% extends 'catalogue/base.html' %}
{% load static %}
{% block content %}

    <div>
    Please check that this information is correct.

        <form action="/catalogue/product_enter/" method="post">
            <label>ISBN: <input type="text" id="isbn" value="{{ info.isbn }}" /></label>
            <label>Title: <input type="text" id="title" value="{{ info.title }}"/></label>
            <label>Author: <input type="text" id="author" value="{{ info.author }}" /></label>
            <input type="Submit" value="Submit" />
        </form>
    </div>
    
{% endblock %}