{% extends 'catalogue/base.html' %}
{% load static %}
{% block content %}

  <section class="container">
    <!--align center?-->
    <div id="instructions">
     <h4>
     Please place the camera in front of the barcode. When scanned successfully, we will show you the ISBN and information about the book.
     </h4>    
    <br>
    </div>
    <div id="interactive" class="viewport"></div>
    <div>
    <br>
    <form>
        <input type="text" name = "code" id="code"> <input type="button" id="submit" value="submit">
    </form>
    </div>
    
  </section>


  <script src="{% static "quagga/jquery-1.9.0.min.js" %}" type="text/javascript"></script>
  <script src="{% static "quagga/quagga_dist.js" %}" type="text/javascript"></script>
  <script src="{% static "quagga/quagga.js" %}" type="text/javascript"></script>

<br>
<br>
{% endblock %}